* {
  list-style     : none;
  text-decoration: none;
  margin         : 0;
  padding        : 0;

  box-sizing: border-box;

  font-family: 'Poppins';
}

:root {
  --blue-water: rgb(0, 147, 196);
  --title     : rgb(57, 136, 253);
  --currency  : rgb(8, 180, 3);

  --white       : rgb(255, 255, 255);
  --gray        : rgb(112, 112, 112);
  --blue        : rgb(30, 144, 255);
  --red         : rgb(220, 20, 60);
  --green       : rgb(24, 160, 24);
  --yellow      : rgb(255, 190, 70);
  --yellow-light: rgb(255, 244, 181);
}

html {
  height    : 100%;
  min-height: 100%;
}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100%;
}

footer {
  margin-top: auto;
}

main {
  margin   : 0 auto;
  padding  : 1.5rem 0 1rem;
  max-width: 1400px;
  position : relative;
}

header {
  background-color: var(--blue-water);
  padding         : 1.5rem 1rem;

  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.logo {
  background-image : url(../images/logo.png);
  background-repeat: no-repeat;
  background-size  : cover;

  width : 100px;
  height: 100px;
}

h1 {
  text-align: center;
  font-size : 2.5rem;
}

.title {
  color: var(--title)
}

header ul a {
  color: var(--white)
}

header ul {
  display   : flex;
  margin-top: 1rem;
}

header ul li {
  padding  : 0.5rem 2rem;
  color    : var(--white);
  margin   : 0 1rem;
  font-size: 1.25rem;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);

  visibility: hidden;
  z-index   : 9999;
  position  : fixed;
  top       : 0;
  bottom    : 0;

  display        : flex;
  align-items    : center;
  justify-content: center;


  width : 100vw;
  height: 100vh;
}

form {
  background-color: var(--white);
  max-width       : 500px;

  flex-direction: column;
  padding       : 1.5rem;

  box-shadow   : 1px 2px 8px var(--gray);
  border-radius: 0.5rem;
}

input,
textarea {
  border       : none;
  border-bottom: 1px solid var(--blue-water);
  margin-bottom: 1rem;
  padding      : 0.5rem 0;
  font-size    : 1.1rem;

  width     : 100%;
  color     : var(--gray);
  text-align: center;
}

textarea {
  resize        : none;
  vertical-align: bottom;
  direction     : rtl;
}

input::placeholder,
textarea::placeholder {
  color: var(--blue-water);
}

section {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

  gap    : 2rem;
  padding: 1.5rem;
}

.list {
  display       : flex;
  flex-direction: column;
}

#product {
  padding    : 2rem;
  align-items: center;

  box-shadow: 0px 0px 2px var(--gray);

  position: relative;

  display   : grid;
  text-align: center;
}

#product .title {
  font-size: 2rem;
}

#product .currency {
  color    : var(--currency);
  font-size: 4rem;
}

#product .description {
  color     : var(--gray);
  font-size : 1.25rem;
  text-align: center;
}

.item {
  padding  : 0.6rem 1rem;
  font-size: 1.1rem;
  cursor   : pointer;
  opacity  : 0.9;
}

.item:hover {
  opacity: 1;
}

.item:nth-child(odd) {
  color           : var(--white);
  background-color: var(--yellow);
}

.item:nth-child(even) {
  color           : var(--gray);
  background-color: var(--yellow-light);
}

.date-item {
  font-size  : 0.8rem;
  font-weight: 600;
}

.description-item {
  font-weight: 300;
  font-size  : 1.2rem;

  padding-left: 0.8rem;
}

.buttons {
  display              : grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 1rem;
  gap    : 2rem;
}

.btn {
  padding      : 0.5rem 2rem;
  border       : none;
  cursor       : pointer;
  font-weight  : 600;
  border-radius: 0.2rem;
  color        : var(--white);
  font-size    : 1.1rem;
}

.cancel {
  font-weight: 400;
  color      : var(--red);
  border     : 1px solid var(--red);
  text-align : center;
}

.edit {
  background-color: var(--blue);
}

.delete {
  background-color: var(--red);
}

.save {
  background-color: var(--green);
}

.add {
  width        : 60px;
  height       : 60px;
  border-radius: 6rem;

  display        : flex;
  justify-content: center;
  align-items    : center;

  position : absolute;
  top      : 0;
  transform: translate(50%, -50%);
  font-size: 3rem;

  background-color: var(--green);
  box-shadow      : 1px 2px 8px var(--gray);

  transition: 0.7s background-color;
  cursor    : pointer;
}

.add:hover {
  background-color: var(--currency);
}

.add span {
  color: var(--white);
}

footer {
  background-color: var(--blue-water);
  display         : flex;
  align-items     : center;
  justify-content : center;

  padding: 4rem 0;

  color      : var(--white);
  font-weight: 100;
}